<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>payappSampleV3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>payappOApiSampleV3</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>payappReq</string>
		<string>ispmobile</string>
		<string>kb-acp</string>
		<string>lotteappcard</string>
		<string>lottesmartpay</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>mpocket.online.ansimclick</string>
		<string>scardcertiapp</string>
		<string>shinhan-sr-ansimclick</string>
		<string>smshinhanansimclick</string>
		<string>nhappcardansimclick</string>
		<string>nhallonepayansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>cloudpay</string>
		<string>citispay</string>
		<string>citicardappkr</string>
		<string>citimobileapp</string>
		<string>NA</string>
		<string>kftc-bankpay</string>
		<string>paypin</string>
		<string>payco</string>
		<string>paycoapplogin</string>
		<string>tswansimclick</string>
		<string>bankwallet</string>
		<string>uppay</string>
		<string>hanaskcardmobileportal</string>
		<string>callonlinepay</string>
		<string>lpayapp</string>
		<string>wooripay</string>
		<string>com.wooricard.wcard</string>
		<string>hanawalletmembers</string>
		<string>hanamopmoasign</string>
		<string>NewSmartPib</string>
		<string>liivbank</string>
		<string>supertoss</string>
		<string>shinsegaeeasypayment</string>
		<string>kakaotalk</string>
		<string>com.wooricard.wcard</string>
		<string>tauthlink</string>
		<string>ktauthexternalcall</string>
		<string>upluscorporation</string>
		<string>kb-bankpay</string>
		<string>naversearchthirdlogin</string>
		<string>lmslpay</string>
		<string>newliiv</string>
        <string>NewSmartPib</string>
		<string>kakaobank</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
